.App {
  text-align: center;
}

.phrase {
  width: 300px;
}

.NameInsertWrapper {
  margin-top:20px;
}

.name-input {
  width: 200px;
}
.wordClick {
  cursor: pointer;
  background:#e0f9ff;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}
.wordClick:hover {
  background: lightskyblue;

}