@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

.App {
  text-align: center;
}

.phrase {
  width: 300px;
}

.copy-btn {
  float: right;
}

.main-phrase-words {
  font-family: 'Patrick Hand', cursive;
  font-size: 45px;
}
.main-phrase {
  margin-bottom: 30px;
  border: #000 1px solid;
}

.NameInsertWrapper {
  margin-top:20px;
}

.name-input {
  width: 200px;
}
.wordClick {
  cursor: pointer;
  background:#e0f9ff;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}
.wordClick:hover {
  background: lightskyblue;

}